CA06-KNN Model

Part 1: Exploratory Data Analysis

In [2]:
#import necessary packages
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
import sklearn.metrics

In [3]:
#read csv file as DataFrame
movies_df=pd.read_csv('movies_recommendation_data.csv')

In [4]:
#Inspect Data
movies_df.head()
movies_df.info() #30 rows and 11 columns
movies_df.isnull() #no null values
movies_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB

    Movie ID                        Movie Name  ...  History  Label
0         58                The Imitation Game  ...        0      0
1          8                        Ex Machina  ...        0      0
2         46                  A Beautiful Mind  ...        0      0
3         62                 Good Will Hunting  ...        0      0
4         97                      Forrest Gump  ...        0      0
5         98                                21  ...        1      0
6         31                            Gifted  ...        0      0
7          3               Travelling Salesman  ...        0      0
8         51                            Avatar  ...        0      0
9         47                    The Karate Kid  ...        0      0
10        50            A Brilliant Young Mind  ...        0      0
11        49                    A Time To Kill  ...        0      0
12        30                      Interstellar  ...        0      0
13        94           The Wolf of Wall Street  ...        0      0
14         6                     Black Panther  ...        0      0
15        73                         Inception  ...        0      0
16        44                    The Wind Rises  ...        0      0
17        65                     Spirited Away  ...        0      0
18        48                 Finding Forrester  ...        0      0
19        27                      The Fountain  ...        0      0
20        57                  The DaVinci Code  ...        0      0
21        57                 Stand and Deliver  ...        0      0
22        14                    The Terminator  ...        0      0
23        69                    21 Jump Street  ...        0      0
24        98                      The Avengers  ...        0      0
25        17                    Thor: Ragnarok  ...        0      0
26        12  Spirit: Stallion of the Cimarron  ...        0      0
27         1                     Hacksaw Ridge  ...        1      0
28        86                  12 Years a Slave  ...        1      0
29        46                    Queen of Katwe  ...        0      0

[30 rows x 11 columns]

Part 2: KNN Model

In [5]:
#Create X and Y variables 
y = movies_df['Movie Name'] #outcome we want to predict
X = movies_df.drop(['Movie Name', 'Movie ID', 'Label'], axis=1) #features we will use to predict Y (all columns except those dropped)

In [12]:
#Find 5 nearest movies 
neigh = NearestNeighbors(n_neighbors = 5, algorithm = 'brute', metric = 'minkowski', p=2) #K=1, algorithm=brute because small number of samples
neigh.fit(X, y) #fit model to X and Y variables from dataframe
new_movie_list = {'IMDB Rating': '7.2', 'Biography' : '1', 'Drama' : '1', 'Thriller' : '0', 'Comedy' : '0', 'Crime' : '0', 'Mystery' : '0', 'History' : '1'} #enter given inputs as a dictionary
movie_df = pd.DataFrame([new_movie_list]) #turn dictionary into a dataframe
prediction = (neigh.kneighbors(movie_df, return_distance = False)) #make prediction using new dataframe
prediction #return nearest neighbors

array([[28, 27, 29, 16,  9]])

In [15]:
movie_names = [y[i] for i in prediction] #print predictions from y
movie_names #return movie titles
#Nearest Neighbors to The Post are: 12 Years a Slave, Hacksaw Ridge, Queen of Katwe, The Wind Rises, and The Karate Kid

[28    12 Years a Slave
 27       Hacksaw Ridge
 29      Queen of Katwe
 16      The Wind Rises
 9       The Karate Kid
 Name: Movie Name, dtype: object]